.puep-radiobuttongroup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.puep-radiobutton-div {
  padding: 10px;
}

.puep-radiobutton-label {
  padding: 5px;
}

.puep-label {
  text-align: center;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: inline;
  color: black;
  border: none;
}
