.puep-emblems-container {
  z-index: 9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.puep-emblem {
  /* transform: rotate(0deg) translate(125px) rotate(0deg); */
  background-color: grey;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 74px;
  height: 74px;
  margin: -37px;
}
