.puep-pokemons-container {
  display: inline-block;
  background-color: white;
  justify-content: space-evenly;
  width: 350px;
  height: 350px;
  margin: 40px;
  overflow-y: auto;
}

.puep-pokemon-selected {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  min-width: 80px;
  height: 120px;
  background-color: rgb(27, 36, 77);
  border-radius: 10%;

  div {
    font-size: 14px;
    color: white;
  }
}

.puep-pokemon {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  min-width: 80px;
  height: 120px;
  background-color: rgb(219, 246, 255);
  border-radius: 10%;

  div {
    font-size: 14px;
    color: black;
  }
}
